@import "fonts.css";

:root {
    --background: #000020;
    --font-color: #ffffee;
    --green-pixel: #489303;
}
  
* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--font-color);
    height: 100vh;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 50px;
}

.title {
    font-family: 'Jaapokki Enchance Regular';
    font-size: 3em;
    text-transform: uppercase;
}

.title .regular {
    font-family: 'Jaapokki Regular';
}

.title::selection, 
.title .regular::selection, 
.menu li::selection, 
.menulink::selection {
    background-color: var(--font-color);
    color: var(--background);
}

.menu {
    display: flex;
    flex-direction: row;
    font-family: 'JetBrains Mono';
    list-style-type: none;
}

.menu li {
    margin-right: 10px;
}

.menulink {
    color: var(--font-color);
}

.menulink:hover,
.highlighted {
    background-color: var(--font-color);
    color: var(--background);
    text-decoration: none;
}

.highlighted:hover {
    background-color: yellow;
}

.iconlink {
    text-decoration: none;
}

.iconlink:hover {
    background-color: var(--font-color);
}

#greenpixel {
    background-color: var(--green-pixel);
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media(max-width: 768px) {
    body {
        max-height: calc(100vh - 120px);
    }

    .menu {
        flex-direction: column;
    }
}